:root {
  --primary-color: #e7eaf6;
  --secondary-color: #a2a8d3;
  --third-color: #38598b;
  --forth-color: #113f67;
}
.Weather {
  padding: 20px;
  border: 1px solid var(--third-color);
  border-radius: 5px;
  background-color: var(--secondary-color);
  font-family: "Poiret One", cursive;
  font-weight: 900;
}

.Weather .overview {
  margin-bottom: 20px;
}

.Weather .weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.Weather .weather-temperature strong {
  color: var(--primary-color);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.Weather .weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.Weather .weather-temperature .active {
  color: var(--third-color);
  cursor: default;
}

.Weather .weather-temperature .active:hover {
  text-decoration: none;
}

.Weather .weather-forecast {
  margin-top: 10px;
}

.Weather .weather-forecast h3 {
  color: var(--third-color);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.Weather .weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.Weather .weather-forecast-temperature {
  text-align: center;
  color: var(--third-color);
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
.forecast {
  text-align: center;
}
.fiveDay {
  left: 20px;
}
.Weather .mainTemp {
  margin: 15px;
}
.Weather .overview .time {
  font-size: 14px;
}
.Weather .fiveDay {
  color: var(--forth-color);
}
